doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='stylesheets/default.css')
  body(onload='onload();')
    前のページに戻ります．

  script(src='javascripts/back.js')