extends layout

block content
  .container
    h3 マイクの調整
    例文を読み，発話中はインジケータの色が青色になるようにバーを調節してください．
    br
    <例文>マイクの調整をしています．
    .row
      canvas#visual
      //input#slider.span2(type='text')
      #slider
      br
      button#saveThresholdButton.btn.btn-default(type='button') 設定を保存

block scripts
  link(rel='stylesheet', href='stylesheets/adjust.css')
  script(src='javascripts/jquery-ui.js')
  script(src='javascripts/adjust.js')