extends layout

block content
  input#msg_input(type='text', style='width:200px;')
  button(onclick='publishMessage();') 語る
  button(onclick='sendOffer();') ソケット結合
  #msg

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='javascripts/io.js')
  script(src='javascripts/voice.js')
  script(src='javascripts/chatroom.js')