extends layout

block content
  .container
    h4#roomName
    textarea#timeline.form-control(readonly='readonly')
    .input-group
      input#userNameHolder.form-control(type='text', readonly='readonly')
      span.input-group-btn
        //button.btn.btn-default(onclick='callMe();',type='button') 音声チャットの開始
        button.btn.btn-default(onclick='init();',type='button') 音声チャットの開始
    .input-group
      input#msg_input.form-control(type='text', placeholder='メッセージを入力')
      span.input-group-btn
        button.btn.btn-default(onclick='publishMessage();',type='button') 送信

block scripts
  link(rel='stylesheet', href='stylesheets/chatroom.css')
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/recorder.js')
  script(src='javascripts/bufRecorder.js')
  script(src='javascripts/io.js')
  script(src='javascripts/voice.js')
  script(src='javascripts/chatroom.js')