extends layout

block content
  #main
    | 新しいチャットルームを作成する
    br
    #form
      .left
        input#listName(type='text', maxlength='30', placeholder='チャットルーム名を入力')
      .right
        button#cleateButton.myButton リストの作成
    #messageArea(style='display: none;')
    #twocolumnList

  button#sendButton.myButton マイク閾値の調整

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/jquery-2.0.0.min.js')
  script(src='javascripts/main.js')