extends layout

block content
  .container
    table#roomList.table.table-hover
      thead
        tr
          th Lock
          th 部屋名
          th 作成者
          th 作成日
          th actions

  #newRoomModal.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4.modal-title 新しいチャットルームを作成する
          .modal-body
            #messageArea(style='display: none;')
            form
              .form-group
                label.control-label(for='listName') 名前：
                input#listName.form-control(type='text', maxlength='30', placeholder='チャットルーム名を入力')
              .form-group
                label.control-label(for='listPass') Password：
                input#listPass.form-control(type='password', maxlength='30')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 閉じる
            button#cleateButton.btn.btn-primary(type='button') リストの作成

  #roomRenameModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#roomName.modal-title
        .modal-body
          form
            .form-group
              label.control-label(for='listPass') UserName：
              input#roomRenameForm.form-control(type='text', maxlength='30',placeholder='部屋名を入力')
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') 閉じる
          button#roomRenameButton.btn.btn-primary(type='button') 部屋名変更

  #passwordCompModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#passwordCompTitle.modal-title
          .modal-body
            #passMessageArea(style='display: none;')
            form
              .form-group
                label.control-label(for='listPass') Password：
                input#passComp.form-control(type='password', maxlength='30')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') 閉じる
            button#passwordCompButton.btn.btn-primary(type='button') パスワードの送信

  #deleteListModal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#delTitle.modal-title
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') いいえ
            button#deleteListModalButton.btn.btn-primary(type='button') はい

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='javascripts/main.js')